.root {
	-fx-font-size: 13px;
	-fx-font-family: Arial;
	-fx-background-color: lightblue;
}

.label {
	-fx-font-size: 14px;
	-fx-font-family: Verdana;
	-fx-text-fill: red;
	-fx-opacity: 0.9;
}

.text-field {
	-fx-text-box-border: black 1px;
	-fx-font-family: Verdana;
	-fx-font-size: 15px;
	-fx-border-radius: 50px;
	-fx-padding: 5px;
}

.text-field:focused {
	-fx-background-color: lightgray;
}

.button {
	-fx-padding: 8px;
	-fx-background-color: linear-gradient(orange,red);
	-fx-text-fill: blue;
	-fx-font-weight: bold;
	-fx-font-size: 12px;
	-fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
}

.button:hover {
	-fx-background-color: linear-gradient(lightgreen,yellow);
}

.button:pressed {
	-fx-effect: innershadow( gaussian , white , 40,0,0,0 );
}

.radio-button:selected {
	-fx-font-weight: bold;
	-fx-text-fill: red;
}

.choice-box {
	-fx-background-color: linear-gradient(rgb(115, 210, 22), orange)
}

.date-picker {
	-fx-effect: innershadow(gaussian, black, 10,0,0,0);
}
